.task {
  height: auto;
  width: 95%;
  max-width: 1280px;
  min-height: calc(var(--height-of-task-wrapper) + var(--paddings-in-tasklist));
  padding-top: calc(var(--paddings-in-tasklist) / 2);
  background-color: rgb(230, 230, 240);
}

.task_start {
  height: auto;
  min-height: calc(var(--height-of-task-wrapper) + var(--paddings-in-tasklist) * 3 / 2);
  margin-top: 26px;
  padding-top: var(--paddings-in-tasklist);
  border-radius: 10px 10px 0 0;
}

.task_end {
  height: auto;
  min-height: calc(var(--height-of-task-wrapper) + var(--paddings-in-tasklist) * 3 / 2);
  margin-bottom: 26px;
  padding-bottom: var(--paddings-in-tasklist);
  border-radius: 0 0 10px 10px;
}

.task_start.task_end {
  height: auto;
  min-height: calc(var(--height-of-task-wrapper) + var(--paddings-in-tasklist) * 2);
  border-radius: 10px;
}

.task_with-description {
  display: block;
  height: auto;
  min-height: calc(var(--height-of-task-wrapper) + var(--paddings-in-tasklist) * 3 / 2 + var(--height-of-task-description) - 20px);
  text-wrap: wrap;
}

.description {
  width: calc(100% - var(--paddings-in-tasklist) * 2);
  height: var(--height-of-task-description);
  border-radius: 10px;
  margin-top: -20px;
  margin-inline: auto;
  background-color: white;
  padding: 0 30px 20px 30px;
}

.description::before {
  display: block;
  height: 20px;
  width: 99%;
  margin: auto;
  content: "";
  border-bottom: 1px solid lightgray;
  margin-bottom: 20px;
}

.wrapper {
  width: calc(100% - var(--paddings-in-tasklist) * 2);
  height: var(--height-of-task-wrapper);
  border-radius: 10px;
  margin: auto;
  background-color: white;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 10px;
}

.wrapper>* {
  margin-right: 10px;
}

.square {
  width: 40px;
  aspect-ratio: 1;
  background-color: rgb(230, 230, 240);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.text {
  flex-grow: 1;
  cursor: pointer;
}

.subject {
  font-size: 1.4em;
  line-height: 1em;
}

.deadline {
  font-size: 0.8em;
  line-height: 0.8em;
}