.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  pointer-events: all; 
}

.window {
  width: 95%;
  max-width: 750px;
  height: 350px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 10px;
  opacity: 1;
  transform: scale(1);
}

.title {
  width: calc(100% - 40px);
  font-size: 1.2em;
  height: 1.8em;
  background-color: rgba(211, 211, 230, 0.4);
  border-radius: 10px;
  padding-inline: 10px;
  margin-bottom: 10px;
}

.textarea {
  width: calc(100% - 40px);
  background-color: rgba(211, 211, 230, 0.4);
  border-radius: 10px;
  padding-inline: 10px;
  flex-grow: 1;
  margin-bottom: 10px;
  resize: none;
}

.buttons {
  width: calc(100% - 40px);
  margin-bottom: 10px;
  display: flex;
}

.date {
  height: 40px;
  padding-inline: 10px;
  border-radius: 10px;
  outline-style: none;
  border: none;
  background-color: rgba(211, 211, 230, 0.4);
}

.space {
  flex-grow: 1;
}

.add {
  background-color: rgb(90, 90, 300);
  color: white;
  margin-right: 10px;
}

.close {
  background-color: rgb(211, 211, 230);
}

/* Стили для анимации */

.modal_enter {
  opacity: 0;
  pointer-events: none;
}

.modal_active_enter {
  opacity: 1;
  pointer-events: all;
  transition: 200ms;
}

.modal_active_exit {
  opacity: 0;
  pointer-events: none;
  transition: 200ms;
}

.modal_enter > .window{
  opacity: 0;
  transform: scale(0);
}

.modal_active_enter > .window{
  opacity: 1;
  transform: scale(1);
  transition: 200ms;
}

.modal_active_exit > .window{
  opacity: 0;
  transform: scale(0);
  transition: 200ms;
}

